{
    "presets": [
      [
        "@babel/preset-env",
        {
          "targets": {
            "node": "current"
          }
        }
      ]
    ],
    "plugins": [
      [
        "module-resolver",
        {
          "alias": {
            "@controllers": "./src/controllers",
            "@routes": "./src/routes",
            "@utils": "./src/utils",
            "@models": "./src/models"
          }
        }
      ]
    ]
  }
  